<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Здравствуйте {{ad.author}}!<br><br>На ваше объявление "{{ad.title}}" поступил новый отклик от пользователя {{comment_author}}</h2>
    <p>{{ comment_text }} </p>
    <p>Чтобы перейти к откликам, которые оставили на ваши объявления, перейдите по ссылке ниже:</p>
    <p><a href="http://127.0.0.1:8000/ads/comments_on_my_ads/">Мои отклики</a></p>
</body>
</html>